body {
  margin: 0;
  background: radial-gradient(circle, #0ff, #003);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 30px #0ff;
  border: 3px solid #0ff;
}
